@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    src: url('/fonts/OpenSans.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('/fonts/Inter.ttf') format('truetype');
}

body {
    margin: 0;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/* Global CSS variables */
:root {
    --thumb-color-primary: #222124;
    --thumb-color-secondary: #ffb23f;
    --track-color: #ececec;
    --breadcrumb-color: #a1a0a3;
    --border-radius: 10px;
}

/* Scrollbar css settings */
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: var(--border-radius);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color-primary);
    border-radius: var(--border-radius);
}

body *::-webkit-scrollbar {
    width: 5px;
}

body *::-webkit-scrollbar-track {
    background: var(--track-color);
    border-radius: var(--border-radius);
}

body *::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color-secondary);
    border-radius: var(--border-radius);
}

/* Breadcrumbs NavLink settings */

a:-webkit-any-link {
    text-decoration: none;
}

a.breadcrumb-nav-link {
    color: var(--breadcrumb-color);
}

a.breadcrumb-nav-link:hover {
    text-decoration: underline;
}
